<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} - [%15.15t] %-30.30c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="RollingRandomAccessFileAppender"
                                 fileName="logs/technikon-testing.log"
                                 filePattern="logs/technikon-testing-%d{yyyy-MM-dd}.zip">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="com.technikon.eagency" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingRandomAccessFileAppender"/>
        </logger>
        
        <logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingRandomAccessFileAppender"/>
        </logger>

        <Root level="warn">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingRandomAccessFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
